!!! 5
%html
    %head
        %link{href:'style.css',rel:'stylesheet/css'}
        %link{href:'style.less',rel:'stylesheet/less'}
        %link{href:'lib/style/jquery-ui.css',rel:'stylesheet'}
        %link{href:'lib/font/roboto.css',rel:'stylesheet/css'}

        %script{src:"lib/jquery.js"}
        %script{src:"lib/jquery-ui.js"}
        %script{src:"playground.js"}
        %script{src:"playground_ui.js"}

    %body
        #container
            #control-panel
                #title-bar Gravity Simulation
            %canvas{id:'canvas',width:'600px',height:'500px'}
        %script{src:'lib/less-debug.js'}
        %script{src:'lib/less.min.js'}