body,
html {
  margin: 0px;
  padding: 0px;
  background-color: #ddd;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #444;
  height: 100%;
}
body {
  overflow: hidden;
}
#container {
  box-shadow: 0px 0px 10px #888;
  background-color: #fff;
  width: 900px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -450px;
  margin-top: -250px;
}
#title-bar {
  height: 60px;
  line-height: 60px;
  background-color: #eee;
}
#canvas {
  display: inline-block;
  float: right;
}
#control-panel {
  display: inline-block;
  float: left;
  width: 299px;
  height: 500px;
  border-right: 1px solid #ccc;
  text-align: center;
}
.slider-container {
  display: inline-block;
  width: 200px;
  vertical-align: middle;
  height: 50px;
  padding-top: 10px;
}
.slider-text {
  color: #888;
  font-size: 14px;
}
.slider {
  margin-top: 10px;
}
